{% assign exp_by_year = site.data.profile.experience | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-briefcase"></i> &nbsp;Experience</h6>
    <div class="px-3 pb-1">
        {% assign not_first = false %}
        {% for year in exp_by_year %}
        <div class="media py-1 {% if not_first %}border-top border-gray{% endif %}">
            {% assign not_first = true %}
            <div class="media-body">
                {% for item in year.items %}
                <div class="my-1 d-flex">
                    <div>
                        <strong>{{ item.name }}</strong>
                        {% if item.dept %}
                        <span class="text-muted small"> — {{ item.dept }}</span>
                        {% endif %}
                        <div class="small">{{ item.position }}</div>
                    </div>
                    <div class="ml-auto mt-auto text-muted no-break">
                        <i>{{ item.date | date: "%b %d" }}</i>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>