{% assign item = include.item %}
<div class="py-3 {% if include.hide_bottom_border != true %}border-bottom{% endif %}">
    <div class="d-flex">
        <div class="w-100">
            <strong>{{ item.title }}</strong>
            <div class="small mt-2">{{ item.abstract }}</div>
            <div class="d-flex mt-2">
                <div>
                    {% if item.link.url %}
                        <a href="{{ item.link.url }}" target="_blank" class="btn btn-outline-secondary btn-sm">{{ item.link.text | default: "Link" }}</a>
                    {% endif %}
                </div>
                <div class="ml-auto mt-auto text-muted no-break small">
                    <i>{{ item.date }}</i>
                </div>
            </div>
        </div>
    </div>
</div>