{% assign publications = include.publications %}
<div class="my-4 p-0 bg-white shadow-sm rounded-xl">
    <div class="p-4">
        <div class="d-flex">
            <h6 class="mb-2">
                {% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star"></i> Selected Recent Publications{% endif %} 
            </h6>
            <div class="ml-auto">
                <a href="{{ '/showcase' | relative_url }}" class="btn btn-sm btn-outline-primary">View Showcase <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        {% for item in publications limit:include.limit %}
            {% include widgets/publication_item.html item=item hide_bottom_border=true %}    
        {% endfor %}
    </div>
</div>
